<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.housedemo.houseapi.dao.TPremisesMapper" >
  <resultMap id="BaseResultMap" type="com.housedemo.houseapi.entity.TPremises" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="dynamic" property="dynamic" jdbcType="VARCHAR" />
    <result column="hyid" property="hyid" jdbcType="INTEGER" />
    <result column="imageurl" property="imageurl" jdbcType="VARCHAR" />
    <result column="rim" property="rim" jdbcType="VARCHAR" />
    <result column="traffic" property="traffic" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="hid" property="hid" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, dynamic, hyid, imageurl, rim, traffic, address, hid, ctime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.housedemo.houseapi.entity.TPremisesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_premises
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_premises
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_premises
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.housedemo.houseapi.entity.TPremisesExample" >
    delete from t_premises
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.housedemo.houseapi.entity.TPremises" >
    insert into t_premises (id, name, dynamic, 
      hyid, imageurl, rim, 
      traffic, address, hid, 
      ctime)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{dynamic,jdbcType=VARCHAR}, 
      #{hyid,jdbcType=INTEGER}, #{imageurl,jdbcType=VARCHAR}, #{rim,jdbcType=VARCHAR}, 
      #{traffic,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{hid,jdbcType=INTEGER}, 
      #{ctime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.housedemo.houseapi.entity.TPremises" >
    insert into t_premises
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="dynamic != null" >
        dynamic,
      </if>
      <if test="hyid != null" >
        hyid,
      </if>
      <if test="imageurl != null" >
        imageurl,
      </if>
      <if test="rim != null" >
        rim,
      </if>
      <if test="traffic != null" >
        traffic,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="hid != null" >
        hid,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dynamic != null" >
        #{dynamic,jdbcType=VARCHAR},
      </if>
      <if test="hyid != null" >
        #{hyid,jdbcType=INTEGER},
      </if>
      <if test="imageurl != null" >
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="rim != null" >
        #{rim,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null" >
        #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="hid != null" >
        #{hid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.housedemo.houseapi.entity.TPremisesExample" resultType="java.lang.Integer" >
    select count(*) from t_premises
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_premises
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.dynamic != null" >
        dynamic = #{record.dynamic,jdbcType=VARCHAR},
      </if>
      <if test="record.hyid != null" >
        hyid = #{record.hyid,jdbcType=INTEGER},
      </if>
      <if test="record.imageurl != null" >
        imageurl = #{record.imageurl,jdbcType=VARCHAR},
      </if>
      <if test="record.rim != null" >
        rim = #{record.rim,jdbcType=VARCHAR},
      </if>
      <if test="record.traffic != null" >
        traffic = #{record.traffic,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.hid != null" >
        hid = #{record.hid,jdbcType=INTEGER},
      </if>
      <if test="record.ctime != null" >
        ctime = #{record.ctime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_premises
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      dynamic = #{record.dynamic,jdbcType=VARCHAR},
      hyid = #{record.hyid,jdbcType=INTEGER},
      imageurl = #{record.imageurl,jdbcType=VARCHAR},
      rim = #{record.rim,jdbcType=VARCHAR},
      traffic = #{record.traffic,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      hid = #{record.hid,jdbcType=INTEGER},
      ctime = #{record.ctime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.housedemo.houseapi.entity.TPremises" >
    update t_premises
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dynamic != null" >
        dynamic = #{dynamic,jdbcType=VARCHAR},
      </if>
      <if test="hyid != null" >
        hyid = #{hyid,jdbcType=INTEGER},
      </if>
      <if test="imageurl != null" >
        imageurl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="rim != null" >
        rim = #{rim,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null" >
        traffic = #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="hid != null" >
        hid = #{hid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.housedemo.houseapi.entity.TPremises" >
    update t_premises
    set name = #{name,jdbcType=VARCHAR},
      dynamic = #{dynamic,jdbcType=VARCHAR},
      hyid = #{hyid,jdbcType=INTEGER},
      imageurl = #{imageurl,jdbcType=VARCHAR},
      rim = #{rim,jdbcType=VARCHAR},
      traffic = #{traffic,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      hid = #{hid,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>